body {
    font-size: 20px;
    background-image:url('https://i.pinimg.com/750x/57/26/b8/5726b856f5af6aa0a06f745db706a6fb.jpg');
    background-repeat: repeat; 
  } 

.titulo {
  color: rgb(255, 196, 0);
  font-size: 72px;
  font-family: 'Fredoka One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

