body {
    font-size: 20px;
    background-image:url('https://i.pinimg.com/750x/57/26/b8/5726b856f5af6aa0a06f745db706a6fb.jpg');
    background-repeat: repeat; 
  } 

.titulo {
  color: rgb(255, 196, 0);
  font-size: 72px;
  font-family: 'Fredoka One', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.catalogoPrincipal {
  width: 20%;
  height: 240px;
  border-radius: 50px;
  margin: 50px;
  background: #000000;
  box-sizing: border-box;
  border: 10px solid rgb(255, 196, 0);
  justify-content: space-evenly;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.7s
}
@media (max-width: 600px) {
  .catalogoPrincipal {
    width: 290px;
    height: 245px;
    margin: 30px;
  }
}
.catalogoPrincipal img {
  max-width: 120%; /* Asegura que la imagen no sea más ancha que el botón */
  max-height: 120%; /* Asegura que la imagen no sea más alta que el botón */
  display: block; /* Evita el espacio en blanco debajo de la imagen */
  position: relative;
  left: -10%;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .catalogoPrincipal img {
    max-width: 130%; /* Asegura que la imagen no sea más ancha que el botón */
    max-height: 130%; /* Asegura que la imagen no sea más alta que el botón */
    left: -45px;
  }
}
.catalogoPrincipal:hover {
  height: 320px; /* Aumenta la altura en el estado de hover */
  transform-origin: center top;
  border: 10px solid rgb(0, 94, 255);
}
.catalogoPrincipal:hover img {
  transform: translateY(-40px);
}

.finalPage {
  background: #484848;
  width: 99%;
  height: 241px;
  position: absolute;
  top: 1200px;
}
@media (max-width: 600px) {
  .finalPage {
    top: 2500px;
  }
}

.comidaIntoCat {
  width: 80%;
  height: 275px;
  border-radius: 50px;
  margin: 30px;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border: 10px solid rgb(255, 196, 0);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.7s
}
.comidaIntoCat:hover {
  width: 85%; /* Aumenta la altura en el estado de hover */
  height: 285px;
  transform-origin: center top;
  border: 10px solid rgb(0, 94, 255);
}
.comidaIntoCat img {
  display: flex;
  position: relative;
  width: 30%;
  height: 240px;
  left: 0.5%;
  top: 0px;
  border-radius: 30px;
}
@media (max-width: 600px) {
  .comidaIntoCat img {
    width: 100%;
    height: 240px;
    border-radius: 35px;
  }
  .comidaIntoCat:hover img {
    transform: translateY(-115px);
  }
  .comidaIntoCat:hover {
    width: 80%;
    height: 500px;
  }
}